<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	
	<!-- 配置单机jedisPool -->
	<bean class="redis.clients.jedis.JedisPool">
		<constructor-arg name="host" value="${redis.pool.host}"/>
		<constructor-arg name="port" value="${redis.pool.port}"/>
	</bean>
	
	<!-- 配置集群jedisCustomer -->
	<bean class="redis.clients.jedis.JedisCluster">
		<!-- 注入set集合 -->
		<constructor-arg name="nodes">
			<set>
				<!-- 第1个redis节点 -->
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg name="host" value="${redis.cluster.host1}"/>
					<constructor-arg name="port" value="${redis.cluster.port1}"/>
				</bean>
				
				<!-- 第2个redis节点 -->
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg name="host" value="${redis.cluster.host2}"/>
					<constructor-arg name="port" value="${redis.cluster.port2}"/>
				</bean>
				
				<!-- 第3个redis节点 -->
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg name="host" value="${redis.cluster.host3}"/>
					<constructor-arg name="port" value="${redis.cluster.port3}"/>
				</bean>
				
				<!-- 第4个redis节点 -->
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg name="host" value="${redis.cluster.host4}"/>
					<constructor-arg name="port" value="${redis.cluster.port4}"/>
				</bean>
				
				<!-- 第5个redis节点 -->
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg name="host" value="${redis.cluster.host5}"/>
					<constructor-arg name="port" value="${redis.cluster.port5}"/>
				</bean>
				
				<!-- 第6个redis节点 -->
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg name="host" value="${redis.cluster.host6}"/>
					<constructor-arg name="port" value="${redis.cluster.port6}"/>
				</bean>
			</set>
		</constructor-arg>
	</bean>
	
	<!-- 配置单机实现类 -->
	<!-- <bean class="com.taotao.manager.service.redis.impl.RedisPool"></bean> -->
	
	<!-- 配置集群实现类      -->   
	<bean class="com.taotao.manager.service.redis.impl.RedisCluster"></bean>
</beans>